@model ProyectoFinalTacos.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro</h2>

<form asp-action="Registro">
    <div class="form-group">
        <label asp-for="NombreUsuario" class="control-label"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CedulaUsuario" class="control-label"></label>
        <input asp-for="CedulaUsuario" class="form-control" />
        <span asp-validation-for="CedulaUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumeroUsuario" class="control-label"></label>
        <input asp-for="NumeroUsuario" class="form-control" />
        <span asp-validation-for="NumeroUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CorreoUsuario" class="control-label"></label>
        <input asp-for="CorreoUsuario" class="form-control" />
        <span asp-validation-for="CorreoUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContraseñaUsuario" class="control-label"></label>
        <input asp-for="ContraseñaUsuario" class="form-control" type="password" />
        <span asp-validation-for="ContraseñaUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
       
        <input type="submit" value="Registro" class="btn btn-primary" />
    </div>
</form>
